[package]
authors.workspace = true
build = "build.rs"
description = "Polkadot's BridgeHub parachain runtime"
edition.workspace = true
license.workspace = true
name = "bridge-hub-polkadot-runtime"
repository.workspace = true
version.workspace = true

[build-dependencies]
substrate-wasm-builder = { optional = true , version = "17.0.0" }

[dependencies]
codec = { package = "parity-scale-codec", version = "3.6.9", default-features = false, features = ["derive"] }
hex-literal = { version = "0.4.1" }
log = { version = "0.4.20", default-features = false }
scale-info = { version = "2.10.0", default-features = false, features = ["derive"] }
serde = { version = "1.0.195", optional = true, features = ["derive"] }

# Local
bp-asset-hub-kusama = { path = "../../asset-hubs/asset-hub-kusama/primitives", default-features = false}
bp-asset-hub-polkadot = { path = "../../asset-hubs/asset-hub-polkadot/primitives", default-features = false}
bp-bridge-hub-kusama = { path = "../bridge-hub-kusama/primitives", default-features = false}
bp-bridge-hub-polkadot = { path = "../bridge-hub-polkadot/primitives", default-features = false}
kusama-runtime-constants = { path = "../../../relay/kusama/constants", default-features = false}
polkadot-runtime-constants = { path = "../../../relay/polkadot/constants", default-features = false}

# Substrate
frame-benchmarking = { default-features = false, optional = true, version = "28.0.0" }
frame-executive = { default-features = false, version = "28.0.0" }
frame-support = { default-features = false, version = "28.0.0" }
frame-system = { default-features = false, version = "28.0.0" }
frame-system-benchmarking = { default-features = false, optional = true, version = "28.0.0" }
frame-system-rpc-runtime-api = { default-features = false, version = "26.0.0" }
frame-try-runtime = { default-features = false, optional = true, version = "0.34.0" }
pallet-aura = { default-features = false, version = "27.0.0" }
pallet-authorship = { default-features = false, version = "28.0.0" }
pallet-balances = { default-features = false, version = "28.0.0" }
pallet-message-queue = { default-features = false , version = "31.0.0" }
pallet-multisig = { default-features = false, version = "28.0.0" }
pallet-session = { default-features = false, version = "28.0.0" }
pallet-timestamp = { default-features = false, version = "27.0.0" }
pallet-transaction-payment = { default-features = false, version = "28.0.0" }
pallet-transaction-payment-rpc-runtime-api = { default-features = false, version = "28.0.0" }
pallet-utility = { default-features = false, version = "28.0.0" }
sp-api = { default-features = false, version = "26.0.0" }
sp-block-builder = { default-features = false, version = "26.0.0" }
sp-consensus-aura = { default-features = false, version = "0.32.0" }
sp-core = { default-features = false, version = "28.0.0" }
sp-genesis-builder = { default-features = false , version = "0.7.0" }
sp-inherents = { default-features = false, version = "26.0.0" }
sp-io = { default-features = false, version = "30.0.0" }
sp-offchain = { default-features = false, version = "26.0.0" }
sp-runtime = { default-features = false, version = "31.0.1" }
sp-session = { default-features = false, version = "27.0.0" }
sp-std = { default-features = false, version = "14.0.0" }
sp-storage = { default-features = false, version = "19.0.0" }
sp-transaction-pool = { default-features = false, version = "26.0.0" }
sp-version = { default-features = false, version = "29.0.0" }

# Polkadot
pallet-xcm = { default-features = false, version = "7.0.0" }
pallet-xcm-benchmarks = { default-features = false, optional = true , version = "7.0.3" }
polkadot-core-primitives = { default-features = false, version = "7.0.0" }
polkadot-parachain-primitives = { default-features = false, version = "6.0.0" }
polkadot-runtime-common = { default-features = false, version = "7.0.0" }
xcm = { package = "staging-xcm", default-features = false, version = "7.0.0" }
xcm-builder = { package = "staging-xcm-builder", default-features = false, version = "7.0.3" }
xcm-executor = { package = "staging-xcm-executor", default-features = false, version = "7.0.3" }

# Cumulus
cumulus-pallet-aura-ext = { default-features = false , version = "0.7.0" }
cumulus-pallet-dmp-queue = { default-features = false , version = "0.7.0" }
cumulus-pallet-parachain-system = { default-features = false, features = ["parameterized-consensus-hook",] , version = "0.7.0" }
cumulus-pallet-session-benchmarking = { default-features = false, version = "9.0.0" }
cumulus-pallet-xcm = { default-features = false , version = "0.7.0" }
cumulus-pallet-xcmp-queue = { default-features = false , features = ["bridging"] , version = "0.7.0" }
cumulus-primitives-core = { default-features = false , version = "0.7.0" }
cumulus-primitives-utility = { default-features = false , version = "0.7.3" }
pallet-collator-selection = { default-features = false , version = "9.0.0" }
parachain-info = { package = "staging-parachain-info", default-features = false , version = "0.7.0" }
parachains-common = { default-features = false , version = "7.0.0" }
system-parachains-constants = { path = "../../constants", default-features = false }

# Bridges
bp-header-chain = { default-features = false , version = "0.7.0" }
bp-messages = { default-features = false , version = "0.7.0" }
bp-parachains = { default-features = false , version = "0.7.0" }
bp-polkadot-core = { default-features = false , version = "0.7.0" }
bp-relayers = { default-features = false , version = "0.7.0" }
bp-runtime = { default-features = false , version = "0.7.0" }
bp-kusama = { default-features = false , version = "0.5.0" }
bp-polkadot = { default-features = false , version = "0.5.0" }
bridge-runtime-common = { default-features = false , version = "0.7.0" }
pallet-bridge-grandpa = { default-features = false , version = "0.7.0" }
pallet-bridge-messages = { default-features = false , version = "0.7.0" }
pallet-bridge-parachains = { default-features = false , version = "0.7.0" }
pallet-bridge-relayers = { default-features = false , version = "0.7.0" }
pallet-xcm-bridge-hub =  { default-features = false , version = "0.2.0" }

[dev-dependencies]
bridge-hub-test-utils = { version = "0.7.1" }
bridge-runtime-common = { version = "0.7.0", features = ["integrity-test"] }
sp-keyring = { version = "31.0.0" }
static_assertions = { version = "1.1.0" }

[features]
default = [ "std" ]
std = [
	"bp-asset-hub-kusama/std",
	"bp-asset-hub-polkadot/std",
	"bp-bridge-hub-kusama/std",
	"bp-bridge-hub-polkadot/std",
	"bp-header-chain/std",
	"bp-messages/std",
	"bp-parachains/std",
	"bp-polkadot-core/std",
	"bp-relayers/std",
	"bp-runtime/std",
	"bp-kusama/std",
	"bp-polkadot/std",
	"bridge-runtime-common/std",
	"codec/std",
	"cumulus-pallet-aura-ext/std",
	"cumulus-pallet-dmp-queue/std",
	"cumulus-pallet-parachain-system/std",
	"cumulus-pallet-session-benchmarking/std",
	"cumulus-pallet-xcm/std",
	"cumulus-pallet-xcmp-queue/std",
	"cumulus-primitives-core/std",
	"cumulus-primitives-utility/std",
	"frame-benchmarking?/std",
	"frame-executive/std",
	"frame-support/std",
	"frame-system-benchmarking?/std",
	"frame-system-rpc-runtime-api/std",
	"frame-system/std",
	"frame-try-runtime?/std",
	"log/std",
	"kusama-runtime-constants/std",
	"pallet-aura/std",
	"pallet-authorship/std",
	"pallet-balances/std",
	"pallet-bridge-grandpa/std",
	"pallet-bridge-messages/std",
	"pallet-bridge-parachains/std",
	"pallet-bridge-relayers/std",
	"pallet-collator-selection/std",
	"pallet-message-queue/std",
	"pallet-multisig/std",
	"pallet-session/std",
	"pallet-timestamp/std",
	"pallet-transaction-payment-rpc-runtime-api/std",
	"pallet-transaction-payment/std",
	"pallet-utility/std",
	"pallet-xcm-benchmarks?/std",
	"pallet-xcm-bridge-hub/std",
	"pallet-xcm/std",
	"parachain-info/std",
	"parachains-common/std",
	"polkadot-core-primitives/std",
	"polkadot-parachain-primitives/std",
	"polkadot-runtime-common/std",
	"polkadot-runtime-constants/std",
	"scale-info/std",
	"serde",
	"sp-api/std",
	"sp-block-builder/std",
	"sp-consensus-aura/std",
	"sp-core/std",
	"sp-genesis-builder/std",
	"sp-inherents/std",
	"sp-io/std",
	"sp-offchain/std",
	"sp-runtime/std",
	"sp-session/std",
	"sp-std/std",
	"sp-storage/std",
	"sp-transaction-pool/std",
	"sp-version/std",
	"substrate-wasm-builder",
	"system-parachains-constants/std",
	"xcm-builder/std",
	"xcm-executor/std",
	"xcm/std",
]

runtime-benchmarks = [
	"bridge-hub-test-utils/runtime-benchmarks",
	"bridge-runtime-common/runtime-benchmarks",
	"cumulus-pallet-dmp-queue/runtime-benchmarks",
	"cumulus-pallet-parachain-system/runtime-benchmarks",
	"cumulus-pallet-session-benchmarking/runtime-benchmarks",
	"cumulus-pallet-xcmp-queue/runtime-benchmarks",
	"cumulus-primitives-utility/runtime-benchmarks",
	"frame-benchmarking/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system-benchmarking/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
	"pallet-bridge-grandpa/runtime-benchmarks",
	"pallet-bridge-messages/runtime-benchmarks",
	"pallet-bridge-parachains/runtime-benchmarks",
	"pallet-bridge-relayers/runtime-benchmarks",
	"pallet-collator-selection/runtime-benchmarks",
	"pallet-message-queue/runtime-benchmarks",
	"pallet-multisig/runtime-benchmarks",
	"pallet-timestamp/runtime-benchmarks",
	"pallet-utility/runtime-benchmarks",
	"pallet-xcm-benchmarks/runtime-benchmarks",
	"pallet-xcm-bridge-hub/runtime-benchmarks",
	"pallet-xcm/runtime-benchmarks",
	"polkadot-parachain-primitives/runtime-benchmarks",
	"polkadot-runtime-common/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"xcm-builder/runtime-benchmarks",
	"xcm-executor/runtime-benchmarks",
]

try-runtime = [
	"cumulus-pallet-aura-ext/try-runtime",
	"cumulus-pallet-dmp-queue/try-runtime",
	"cumulus-pallet-parachain-system/try-runtime",
	"cumulus-pallet-xcm/try-runtime",
	"cumulus-pallet-xcmp-queue/try-runtime",
	"frame-executive/try-runtime",
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"frame-try-runtime/try-runtime",
	"pallet-aura/try-runtime",
	"pallet-authorship/try-runtime",
	"pallet-balances/try-runtime",
	"pallet-bridge-grandpa/try-runtime",
	"pallet-bridge-messages/try-runtime",
	"pallet-bridge-parachains/try-runtime",
	"pallet-bridge-relayers/try-runtime",
	"pallet-collator-selection/try-runtime",
	"pallet-message-queue/try-runtime",
	"pallet-multisig/try-runtime",
	"pallet-session/try-runtime",
	"pallet-timestamp/try-runtime",
	"pallet-transaction-payment/try-runtime",
	"pallet-utility/try-runtime",
	"pallet-xcm-bridge-hub/try-runtime",
	"pallet-xcm/try-runtime",
	"parachain-info/try-runtime",
	"polkadot-runtime-common/try-runtime",
	"sp-runtime/try-runtime",
]

experimental = [ "pallet-aura/experimental" ]

# A feature that should be enabled when the runtime should be built for on-chain
# deployment. This will disable stuff that shouldn't be part of the on-chain wasm
# to make it smaller, like logging for example.
on-chain-release-build = [ "sp-api/disable-logging" ]
