[package]
name = "system-parachains-constants"
description = "Common constants for System Parachains runtimes"
repository.workspace = true
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
smallvec = "1.13.1"

frame-support = { default-features = false , version = "29.0.0" }
kusama-runtime-constants = { path = "../../relay/kusama/constants", default-features = false}
parachains-common = { default-features = false , version = "8.0.0" }
polkadot-core-primitives = { default-features = false, version = "8.0.0"}
polkadot-primitives = { default-features = false , version = "8.0.0" }
polkadot-runtime-constants = { path = "../../relay/polkadot/constants", default-features = false}
sp-runtime = { default-features = false , version = "32.0.0" }

[features]
default = [ "std" ]
std = [
	"frame-support/std",
	"kusama-runtime-constants/std",
	"parachains-common/std",
	"polkadot-core-primitives/std",
	"polkadot-primitives/std",
	"polkadot-runtime-constants/std",
	"sp-runtime/std",
]
