[package]
name = "integration-tests-helpers"
version.workspace = true
authors.workspace = true
edition.workspace = true
license = "Apache-2.0"
description = "Emulated integration tests helpers"
publish = false

[dependencies]
paste = "1.0.14"

# Substrate
pallet-balances = { version = "29.0.0" }
pallet-message-queue = { version = "32.0.0" }

# Polkadot
xcm = { package = "staging-xcm", version = "8.0.0" }
pallet-xcm = { version = "8.0.0" }

# Cumulus
xcm-emulator = { version = "0.6.0" }
cumulus-pallet-xcmp-queue = { version = "0.8.0" }
asset-test-utils = { version = "8.0.1" }
