[package]
name = "integration-tests-helpers"
version = "0.0.1"
authors.workspace = true
edition.workspace = true
license = "Apache-2.0"
description = "Emulated integration tests helpers"
publish = false

[dependencies]
paste = "1.0.14"

# Substrate
pallet-balances = { version = "28.0.0" }
pallet-message-queue = { version = "31.0.0" }

# Polkadot
xcm = { package = "staging-xcm", version = "7.0.0" }
pallet-xcm = { version = "7.0.0" }

# Cumulus
xcm-emulator = { version = "0.5.0" }
cumulus-pallet-xcmp-queue = { version = "0.7.0" }
asset-test-utils = { version = "7.0.0" }
