[package]
authors.workspace = true
build = "build.rs"
description = "Runtime of the Kusama Glutton System-Parachain"
edition.workspace = true
license.workspace = true
name = "glutton-kusama-runtime"
repository.workspace = true
version.workspace = true

[dependencies]
codec = { package = "parity-scale-codec", version = "3.6.9", default-features = false, features = ["derive"] }
scale-info = { version = "2.10.0", default-features = false, features = ["derive"] }

# Substrate
frame-benchmarking = { default-features = false, optional = true, version = "28.0.0" }
frame-executive = { default-features = false, version = "28.0.0" }
frame-support = { default-features = false, version = "28.0.0" }
frame-system = { default-features = false, version = "28.0.0" }
frame-system-rpc-runtime-api = { default-features = false, version = "26.0.0" }
frame-system-benchmarking = { default-features = false, optional = true, version = "28.0.0" }
frame-try-runtime = { default-features = false, optional = true, version = "0.34.0" }
pallet-glutton = { default-features = false, optional = true, version = "14.0.0" }
pallet-message-queue = { default-features = false , version = "31.0.0" }
pallet-sudo = { default-features = false, optional = true, version = "28.0.0" }
sp-api = { default-features = false, version = "26.0.0" }
sp-block-builder = { default-features = false, version = "26.0.0" }
sp-core = { default-features = false, version = "28.0.0" }
sp-genesis-builder = { default-features = false , version = "0.7.0" }
sp-inherents = { default-features = false, version = "26.0.0" }
sp-offchain = { default-features = false, version = "26.0.0" }
sp-runtime = { default-features = false, version = "31.0.1" }
sp-session = { default-features = false, version = "27.0.0" }
sp-std = { default-features = false, version = "14.0.0" }
sp-storage = { default-features = false, version = "19.0.0" }
sp-transaction-pool = { default-features = false, version = "26.0.0" }
sp-version = { default-features = false, version = "29.0.0" }

# Polkadot
xcm = { package = "staging-xcm", default-features = false, version = "7.0.0" }
xcm-builder = { package = "staging-xcm-builder", default-features = false, version = "7.0.3" }
xcm-executor = { package = "staging-xcm-executor", default-features = false, version = "7.0.3" }

# Cumulus
cumulus-pallet-parachain-system = { default-features = false, features = ["parameterized-consensus-hook",] , version = "0.7.0" }
cumulus-pallet-xcm = { default-features = false , version = "0.7.0" }
cumulus-primitives-core = { default-features = false , version = "0.7.0" }
parachain-info = { package = "staging-parachain-info", default-features = false , version = "0.7.0" }
parachains-common = { default-features = false , version = "7.0.0" }
system-parachains-constants = { path = "../../constants", default-features = false }

[build-dependencies]
substrate-wasm-builder = { version = "17.0.0" }

[features]
default = [ "std" ]
runtime-benchmarks = [
	"cumulus-pallet-parachain-system/runtime-benchmarks",
	"frame-benchmarking/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system-benchmarking/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-glutton/runtime-benchmarks",
	"pallet-message-queue/runtime-benchmarks",
	"pallet-sudo?/runtime-benchmarks",
	"parachains-common/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"xcm-builder/runtime-benchmarks",
	"xcm-executor/runtime-benchmarks",
]
std = [
	"codec/std",
	"cumulus-pallet-parachain-system/std",
	"cumulus-pallet-xcm/std",
	"cumulus-primitives-core/std",
	"frame-benchmarking?/std",
	"frame-executive/std",
	"frame-support/std",
	"frame-system-benchmarking?/std",
	"frame-system-rpc-runtime-api/std",
	"frame-system/std",
	"frame-try-runtime?/std",
	"pallet-glutton/std",
	"pallet-message-queue/std",
	"pallet-sudo/std",
	"parachain-info/std",
	"parachains-common/std",
	"scale-info/std",
	"sp-api/std",
	"sp-block-builder/std",
	"sp-core/std",
	"sp-genesis-builder/std",
	"sp-inherents/std",
	"sp-offchain/std",
	"sp-runtime/std",
	"sp-session/std",
	"sp-std/std",
	"sp-storage/std",
	"sp-transaction-pool/std",
	"sp-version/std",
	"system-parachains-constants/std",
	"xcm-builder/std",
	"xcm-executor/std",
	"xcm/std",
]
try-runtime = [
	"cumulus-pallet-parachain-system/try-runtime",
	"cumulus-pallet-xcm/try-runtime",
	"frame-executive/try-runtime",
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"frame-try-runtime/try-runtime",
	"pallet-glutton/try-runtime",
	"pallet-message-queue/try-runtime",
	"pallet-sudo/try-runtime",
	"parachain-info/try-runtime",
	"sp-runtime/try-runtime",
]

# A feature that should be enabled when the runtime should be built for on-chain
# deployment. This will disable stuff that shouldn't be part of the on-chain wasm
# to make it smaller, like logging for example.
on-chain-release-build = [ "sp-api/disable-logging" ]
