[package]
authors.workspace = true
build = "build.rs"
description = "Asset Hub Polkadot parachain runtime"
edition.workspace = true
license.workspace = true
name = "asset-hub-polkadot-runtime"
repository.workspace = true
version.workspace = true

[dependencies]
codec = { package = "parity-scale-codec", version = "3.6.9", default-features = false, features = ["derive", "max-encoded-len"] }
hex-literal = { version = "0.4.1", optional = true }
log = { version = "0.4.20", default-features = false }
scale-info = { version = "2.10.0", default-features = false, features = ["derive"] }

# Local
bp-asset-hub-kusama = { path = "../asset-hub-kusama/primitives", default-features = false}
bp-asset-hub-polkadot = { path = "./primitives", default-features = false}
bp-bridge-hub-kusama = { path = "../../bridge-hubs/bridge-hub-kusama/primitives", default-features = false}
bp-bridge-hub-polkadot = { path = "../../bridge-hubs/bridge-hub-polkadot/primitives", default-features = false}
kusama-runtime-constants = { path = "../../../relay/kusama/constants", default-features = false}
polkadot-runtime-constants = { path = "../../../relay/polkadot/constants", default-features = false}

# Substrate
frame-benchmarking = { default-features = false, optional = true, version = "28.0.0" }
frame-executive = { default-features = false, version = "28.0.0" }
frame-support = { default-features = false, version = "28.0.0" }
frame-system = { default-features = false, version = "28.0.0" }
frame-system-benchmarking = { default-features = false, optional = true, version = "28.0.0" }
frame-system-rpc-runtime-api = { default-features = false, version = "26.0.0" }
frame-try-runtime = { default-features = false, optional = true, version = "0.34.0" }
pallet-asset-tx-payment = { default-features = false , version = "28.0.0" }
pallet-assets = { default-features = false, version = "29.0.0" }
pallet-aura = { default-features = false, version = "27.0.0" }
pallet-authorship = { default-features = false, version = "28.0.0" }
pallet-balances = { default-features = false, version = "28.0.0" }
pallet-message-queue = { default-features = false , version = "31.0.0" }
pallet-multisig = { default-features = false, version = "28.0.0" }
pallet-nfts = { default-features = false, version = "22.0.0" }
pallet-nfts-runtime-api = { default-features = false, version = "14.0.0" }
pallet-proxy = { default-features = false, version = "28.0.0" }
pallet-session = { default-features = false, version = "28.0.0" }
pallet-timestamp = { default-features = false, version = "27.0.0" }
pallet-transaction-payment = { default-features = false, version = "28.0.0" }
pallet-transaction-payment-rpc-runtime-api = { default-features = false, version = "28.0.0" }
pallet-uniques = { default-features = false, version = "28.0.0" }
pallet-utility = { default-features = false, version = "28.0.0" }
sp-api = { default-features = false, version = "26.0.0" }
sp-block-builder = { default-features = false, version = "26.0.0" }
sp-consensus-aura = { default-features = false, version = "0.32.0" }
sp-core = { default-features = false, version = "28.0.0" }
sp-genesis-builder = { default-features = false , version = "0.7.0" }
sp-inherents = { default-features = false, version = "26.0.0" }
sp-offchain = { default-features = false, version = "26.0.0" }
sp-runtime = { default-features = false, version = "31.0.1" }
sp-session = { default-features = false, version = "27.0.0" }
sp-std = { default-features = false, version = "14.0.0" }
sp-storage = { default-features = false, version = "19.0.0" }
sp-transaction-pool = { default-features = false, version = "26.0.0" }
sp-version = { default-features = false, version = "29.0.0" }
sp-weights = { default-features = false, version = "27.0.0" }

# Polkadot
pallet-xcm = { default-features = false, version = "7.0.0" }
pallet-xcm-benchmarks = { default-features = false, optional = true , version = "7.0.3" }
polkadot-core-primitives = { default-features = false, version = "7.0.0" }
polkadot-parachain-primitives = { default-features = false, version = "6.0.0" }
polkadot-runtime-common = { default-features = false, version = "7.0.0" }
xcm = { package = "staging-xcm", default-features = false, version = "7.0.0" }
xcm-builder = { package = "staging-xcm-builder", default-features = false, version = "7.0.3" }
xcm-executor = { package = "staging-xcm-executor", default-features = false, version = "7.0.3" }

# Cumulus
cumulus-pallet-aura-ext = { default-features = false , version = "0.7.0" }
cumulus-pallet-dmp-queue = { default-features = false , version = "0.7.0" }
cumulus-pallet-parachain-system = { default-features = false, features = ["parameterized-consensus-hook",] , version = "0.7.0" }
cumulus-pallet-session-benchmarking = { default-features = false, version = "9.0.0" }
cumulus-pallet-xcm = { default-features = false , version = "0.7.0" }
cumulus-pallet-xcmp-queue = { default-features = false , features = ["bridging"] , version = "0.7.0" }
cumulus-primitives-core = { default-features = false , version = "0.7.0" }
cumulus-primitives-utility = { default-features = false , version = "0.7.3" }
pallet-collator-selection = { default-features = false , version = "9.0.0" }
parachain-info = { package = "staging-parachain-info", default-features = false , version = "0.7.0" }
parachains-common = { default-features = false , version = "7.0.0" }
system-parachains-constants = { path = "../../constants", default-features = false }
assets-common = { default-features = false , version = "0.7.0" }

# Bridges
pallet-xcm-bridge-hub-router = { default-features = false , version = "0.5.0" }

[dev-dependencies]
hex-literal = "0.4.1"
asset-test-utils = { version = "7.0.1" }
parachains-runtimes-test-utils = { version = "7.0.1" }
sp-io = { version = "30.0.0" }

[build-dependencies]
substrate-wasm-builder = { optional = true , version = "17.0.0" }

[features]
default = [ "std" ]
runtime-benchmarks = [
	"assets-common/runtime-benchmarks",
	"cumulus-pallet-dmp-queue/runtime-benchmarks",
	"cumulus-pallet-parachain-system/runtime-benchmarks",
	"cumulus-pallet-session-benchmarking/runtime-benchmarks",
	"cumulus-pallet-xcmp-queue/runtime-benchmarks",
	"cumulus-primitives-utility/runtime-benchmarks",
	"frame-benchmarking/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system-benchmarking/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"hex-literal",
	"pallet-asset-tx-payment/runtime-benchmarks",
	"pallet-assets/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
	"pallet-collator-selection/runtime-benchmarks",
	"pallet-message-queue/runtime-benchmarks",
	"pallet-multisig/runtime-benchmarks",
	"pallet-nfts/runtime-benchmarks",
	"pallet-proxy/runtime-benchmarks",
	"pallet-timestamp/runtime-benchmarks",
	"pallet-uniques/runtime-benchmarks",
	"pallet-utility/runtime-benchmarks",
	"pallet-xcm-benchmarks/runtime-benchmarks",
	"pallet-xcm-bridge-hub-router/runtime-benchmarks",
	"pallet-xcm/runtime-benchmarks",
	"polkadot-parachain-primitives/runtime-benchmarks",
	"polkadot-runtime-common/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"xcm-builder/runtime-benchmarks",
	"xcm-executor/runtime-benchmarks",
]
try-runtime = [
	"cumulus-pallet-aura-ext/try-runtime",
	"cumulus-pallet-dmp-queue/try-runtime",
	"cumulus-pallet-parachain-system/try-runtime",
	"cumulus-pallet-xcm/try-runtime",
	"cumulus-pallet-xcmp-queue/try-runtime",
	"frame-executive/try-runtime",
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"frame-try-runtime/try-runtime",
	"pallet-asset-tx-payment/try-runtime",
	"pallet-assets/try-runtime",
	"pallet-aura/try-runtime",
	"pallet-authorship/try-runtime",
	"pallet-balances/try-runtime",
	"pallet-collator-selection/try-runtime",
	"pallet-message-queue/try-runtime",
	"pallet-multisig/try-runtime",
	"pallet-nfts/try-runtime",
	"pallet-proxy/try-runtime",
	"pallet-session/try-runtime",
	"pallet-timestamp/try-runtime",
	"pallet-transaction-payment/try-runtime",
	"pallet-uniques/try-runtime",
	"pallet-utility/try-runtime",
	"pallet-xcm-bridge-hub-router/try-runtime",
	"pallet-xcm/try-runtime",
	"parachain-info/try-runtime",
	"polkadot-runtime-common/try-runtime",
	"sp-runtime/try-runtime",
]
std = [
	"assets-common/std",
	"bp-asset-hub-kusama/std",
	"bp-asset-hub-polkadot/std",
	"bp-bridge-hub-kusama/std",
	"bp-bridge-hub-polkadot/std",
	"codec/std",
	"cumulus-pallet-aura-ext/std",
	"cumulus-pallet-dmp-queue/std",
	"cumulus-pallet-parachain-system/std",
	"cumulus-pallet-session-benchmarking/std",
	"cumulus-pallet-xcm/std",
	"cumulus-pallet-xcmp-queue/std",
	"cumulus-primitives-core/std",
	"cumulus-primitives-utility/std",
	"frame-benchmarking?/std",
	"frame-executive/std",
	"frame-support/std",
	"frame-system-benchmarking?/std",
	"frame-system-rpc-runtime-api/std",
	"frame-system/std",
	"frame-try-runtime?/std",
	"kusama-runtime-constants/std",
	"log/std",
	"pallet-asset-tx-payment/std",
	"pallet-assets/std",
	"pallet-aura/std",
	"pallet-authorship/std",
	"pallet-balances/std",
	"pallet-collator-selection/std",
	"pallet-message-queue/std",
	"pallet-multisig/std",
	"pallet-nfts-runtime-api/std",
	"pallet-nfts/std",
	"pallet-proxy/std",
	"pallet-session/std",
	"pallet-timestamp/std",
	"pallet-transaction-payment-rpc-runtime-api/std",
	"pallet-transaction-payment/std",
	"pallet-uniques/std",
	"pallet-utility/std",
	"pallet-xcm-benchmarks?/std",
	"pallet-xcm-bridge-hub-router/std",
	"pallet-xcm/std",
	"parachain-info/std",
	"parachains-common/std",
	"polkadot-core-primitives/std",
	"polkadot-parachain-primitives/std",
	"polkadot-runtime-common/std",
	"polkadot-runtime-constants/std",
	"scale-info/std",
	"sp-api/std",
	"sp-block-builder/std",
	"sp-consensus-aura/std",
	"sp-core/std",
	"sp-genesis-builder/std",
	"sp-inherents/std",
	"sp-offchain/std",
	"sp-runtime/std",
	"sp-session/std",
	"sp-std/std",
	"sp-storage/std",
	"sp-transaction-pool/std",
	"sp-version/std",
	"sp-weights/std",
	"substrate-wasm-builder",
	"system-parachains-constants/std",
	"xcm-builder/std",
	"xcm-executor/std",
	"xcm/std",
]

experimental = [ "pallet-aura/experimental" ]

# A feature that should be enabled when the runtime should be built for on-chain
# deployment. This will disable stuff that shouldn't be part of the on-chain wasm
# to make it smaller, like logging for example.
on-chain-release-build = [ "sp-api/disable-logging" ]
