[package]
name = "chain-spec-generator"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
clap = { version = "4.4.4", features = [ "derive" ] }
hex-literal = "0.4.1"
serde_json = "1.0.111"
serde = { version = "1.0.195", features = ["derive"] }

polkadot-runtime = { path = "../relay/polkadot" }
polkadot-runtime-constants = { path = "../relay/polkadot/constants" }
kusama-runtime = { package = "staging-kusama-runtime", path = "../relay/kusama" }
kusama-runtime-constants = { path = "../relay/kusama/constants" }

sc-chain-spec = "26.0.0"
polkadot-runtime-parachains = "6.0.0"
polkadot-primitives = "6.0.0"
sp-consensus-babe = "0.31.0"
sp-authority-discovery = "25.0.0"
sp-core = "27.0.0"
pallet-staking = "27.0.0"
sc-consensus-grandpa = "0.18.0"
pallet-im-online = "26.0.0"
sp-runtime = "30.0.1"
sp-consensus-beefy = "12.0.0"
xcm = { package = "staging-xcm", version = "6.0.0" }
parachains-common = { version = "6.0.0" }
cumulus-primitives-core = { version = "0.6.0" }

asset-hub-polkadot-runtime = { path = "../system-parachains/asset-hubs/asset-hub-polkadot" }
asset-hub-kusama-runtime = { path = "../system-parachains/asset-hubs/asset-hub-kusama" }
collectives-polkadot-runtime = { path = "../system-parachains/collectives/collectives-polkadot" }
bridge-hub-polkadot-runtime = { path = "../system-parachains/bridge-hubs/bridge-hub-polkadot" }
bridge-hub-kusama-runtime = { path = "../system-parachains/bridge-hubs/bridge-hub-kusama" }
encointer-kusama-runtime = { path = "../system-parachains/encointer" }
glutton-kusama-runtime = { path = "../system-parachains/gluttons/glutton-kusama" }

# encointer is not migrated to the latest release, so we use compatible deps, when needed
sp-core-encointer-compatible = { package = "sp-core",  version = "25.0.0" }

[features]
runtime-benchmarks = [
	"asset-hub-polkadot-runtime/runtime-benchmarks",
	"asset-hub-kusama-runtime/runtime-benchmarks",
	"bridge-hub-polkadot-runtime/runtime-benchmarks",
	"bridge-hub-kusama-runtime/runtime-benchmarks",
	"collectives-polkadot-runtime/runtime-benchmarks",
	"kusama-runtime/runtime-benchmarks",
	"polkadot-runtime/runtime-benchmarks",
	"encointer-kusama-runtime/runtime-benchmarks",
	"glutton-kusama-runtime/runtime-benchmarks",
	"cumulus-primitives-core/runtime-benchmarks",
	"pallet-im-online/runtime-benchmarks",
	"pallet-staking/runtime-benchmarks",
	"parachains-common/runtime-benchmarks",
	"polkadot-primitives/runtime-benchmarks",
	"polkadot-runtime-parachains/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks"
]
