[package]
name = "chain-spec-generator"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
clap = { version = "4.4.18", features = [ "derive" ] }
hex-literal = "0.4.1"
serde_json = "1.0.111"
serde = { version = "1.0.195", features = ["derive"] }

polkadot-runtime = { path = "../relay/polkadot" }
polkadot-runtime-constants = { path = "../relay/polkadot/constants" }
kusama-runtime = { package = "staging-kusama-runtime", path = "../relay/kusama" }
kusama-runtime-constants = { path = "../relay/kusama/constants" }

sc-chain-spec = "27.0.0"
polkadot-runtime-parachains = "7.0.0"
polkadot-primitives = "7.0.0"
sp-consensus-babe = "0.32.0"
sp-authority-discovery = "26.0.0"
sp-core = "28.0.0"
pallet-staking = "28.0.0"
sc-consensus-grandpa = "0.19.0"
pallet-im-online = "27.0.0"
sp-runtime = "31.0.1"
sp-consensus-beefy = "13.0.0"
xcm = { package = "staging-xcm", version = "7.0.0" }
parachains-common = { version = "7.0.0" }
cumulus-primitives-core = { version = "0.7.0" }

asset-hub-polkadot-runtime = { path = "../system-parachains/asset-hubs/asset-hub-polkadot" }
asset-hub-kusama-runtime = { path = "../system-parachains/asset-hubs/asset-hub-kusama" }
collectives-polkadot-runtime = { path = "../system-parachains/collectives/collectives-polkadot" }
bridge-hub-polkadot-runtime = { path = "../system-parachains/bridge-hubs/bridge-hub-polkadot" }
bridge-hub-kusama-runtime = { path = "../system-parachains/bridge-hubs/bridge-hub-kusama" }
encointer-kusama-runtime = { path = "../system-parachains/encointer" }
glutton-kusama-runtime = { path = "../system-parachains/gluttons/glutton-kusama" }

# encointer is not migrated to the latest release, so we use compatible deps, when needed
sp-core-encointer-compatible = { package = "sp-core",  version = "25.0.0" }

[features]
runtime-benchmarks = [
	"asset-hub-polkadot-runtime/runtime-benchmarks",
	"asset-hub-kusama-runtime/runtime-benchmarks",
	"bridge-hub-polkadot-runtime/runtime-benchmarks",
	"bridge-hub-kusama-runtime/runtime-benchmarks",
	"collectives-polkadot-runtime/runtime-benchmarks",
	"kusama-runtime/runtime-benchmarks",
	"polkadot-runtime/runtime-benchmarks",
	"encointer-kusama-runtime/runtime-benchmarks",
	"glutton-kusama-runtime/runtime-benchmarks",
]
