[package]
name = "asset-hub-polkadot-emulated-chain"
version.workspace = true
authors.workspace = true
edition.workspace = true
license = "Apache-2.0"
description = "Asset Hub Polkadot emulated chain used for integration tests"
publish = false

[dependencies]

# Substrate
sp-core = { workspace = true, default-features = true }
sp-keyring = { workspace = true }
frame-support = { workspace = true, default-features = true }

# Cumulus
assets-common = { workspace = true, default-features = true }
parachains-common = { workspace = true, default-features = true }
cumulus-primitives-core = { workspace = true, default-features = true }
emulated-integration-tests-common = { workspace = true }
xcm = { workspace = true, default-features = true }
xcm-builder = { workspace = true, default-features = true }
polkadot-parachain-primitives = { workspace = true }

# Runtimes
asset-hub-polkadot-runtime = { workspace = true }
polkadot-emulated-chain = { workspace = true }
penpal-emulated-chain = { workspace = true }

# Bridges
snowbridge-inbound-queue-primitives = { workspace = true, default-features = true }

# Emulated tests
integration-tests-helpers = { workspace = true }

[features]
runtime-benchmarks = [
	"asset-hub-polkadot-runtime/runtime-benchmarks",
	"assets-common/runtime-benchmarks",
	"cumulus-primitives-core/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"integration-tests-helpers/runtime-benchmarks",
	"parachains-common/runtime-benchmarks",
	"penpal-emulated-chain/runtime-benchmarks",
	"polkadot-emulated-chain/runtime-benchmarks",
	"polkadot-parachain-primitives/runtime-benchmarks",
	"snowbridge-inbound-queue-primitives/runtime-benchmarks",
	"xcm/runtime-benchmarks",
	"xcm-builder/runtime-benchmarks",
]
