name: Benchmark pallet_bridge_relayers

on:
  push:
    branches:
      - sigurpol-benchmark-pallet_bridge_relayers
  workflow_dispatch:

permissions:
  contents: write

jobs:
  benchmark:
    runs-on: benchmark
    timeout-minutes: 1440
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install updates and dependencies
        run: .github/install-deps.sh

      - name: Set rust version via common env file
        run: cat .github/env >> $GITHUB_ENV

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          targets: "wasm32v1-none"
          components: "rust-src, rustfmt"
          toolchain: "${{ env.RUST_STABLE_VERSION }}"

      - name: Install frame-omni-bencher
        run: cargo install frame-omni-bencher --locked

      - name: Setup Cache
        uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3 # v2.7.7
        with:
          shared-key: "fellowship-cache-bench-bridge-relayers"

      - name: Build runtime
        run: |
          cargo build \
            -p bridge-hub-polkadot-runtime \
            --profile production \
            --features runtime-benchmarks

      - name: Run benchmark
        run: |
          frame-omni-bencher v1 benchmark pallet \
            --extrinsic=* \
            --runtime=target/production/wbuild/bridge-hub-polkadot-runtime/bridge_hub_polkadot_runtime.compact.compressed.wasm \
            --pallet=pallet_bridge_relayers \
            --header=.github/scripts/cmd/file_header.txt \
            --output=./system-parachains/bridge-hubs/bridge-hub-polkadot/src/weights \
            --wasm-execution=compiled \
            --steps=50 \
            --repeat=20 \
            --heap-pages=4096

      - name: Commit generated weights
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"
            git add ./system-parachains/bridge-hubs/bridge-hub-polkadot/src/weights/pallet_bridge_relayers.rs
            git commit -m "Generate weights for pallet_bridge_relayers on bridge-hub-polkadot"
            git push origin ${{ github.ref_name }}
          else
            echo "No weight changes to commit"
          fi
