name: "Clippy"

on:
  push:
    branches: ["main", "release-*"]
  pull_request:
  workflow_dispatch:

# cancel previous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  clippy:
    runs-on: ubuntu-22.04

    steps:
      - name: Install updates and protobuf-compiler
        run: sudo apt update && sudo apt install --assume-yes cmake protobuf-compiler

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set rust version via common env file
        run: cat .github/env >> $GITHUB_ENV

      - name: Install nightly toolchain
        run: rustup toolchain install "nightly-$RUST_NIGHTLY_VERSION" --profile minimal --component clippy

      - name: Fetch cache
        uses: Swatinem/rust-cache@a95ba195448af2da9b00fb742d14ffaaf3c21f43 # v2.7.0
        with:
          shared-key: "fellowship-cache-clippy"

      - name: Clippy
        run: cargo +nightly-$RUST_NIGHTLY_VERSION clippy --all-targets --locked -q
        env:
          RUSTFLAGS: "-D warnings"
          SKIP_WASM_BUILD: 1
