name: "Clippy"

on:
  push:
    branches: ["main", "release-*"]
  pull_request:
  workflow_dispatch:

# cancel previous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  clippy:
    runs-on: ubuntu-22.04

    steps:
      - name: Install updates and protobuf-compiler
        run: sudo apt update && sudo apt install --assume-yes cmake protobuf-compiler

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set rust version via common env file
        run: cat .github/env >> $GITHUB_ENV

      - name: Install stable toolchain
        run: |
          rustup toolchain install $RUST_STABLE_VERSION --profile minimal --component clippy
          cargo --version
          cargo clippy --version

      - name: Fetch cache
        uses: Swatinem/rust-cache@a95ba195448af2da9b00fb742d14ffaaf3c21f43 # v2.7.0
        with:
          shared-key: "fellowship-cache-clippy"

      - name: Clippy
        run: cargo clippy --all-targets --locked -q
        env:
          #RUSTFLAGS: "-D warnings" FAIL-CI re-enable after AHM
          SKIP_WASM_BUILD: 1
